/* Register Container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Register Card */
.register-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: var(--input-bg);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-card h2 {
    margin-bottom: 15px;
    color: var(--text-color);
}

/* Form Group */
.register-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Labels */
.register-form label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

/* Input Fields */
.register-form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background: var(--input-bg);
    color: var(--text-color);
    transition: border-color 0.3s, box-shadow 0.3s ease;
}

.register-form input:focus {
    border-color: var(--button-bg);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

/* Password Input Container */
.password-group {
   position: relative; /* Position relative to contain the eye icon */
}

/* Eye Icon Styling */
.eye-icon {
   position: absolute; /* Position absolutely within the container */
   right: 10px; /* Space from the right edge */
   top: 50%; /* Center vertically */
   transform: translateY(-50%); /* Adjust vertical alignment */
   color: #aaa; /* Default icon color */
   cursor: pointer; /* Change cursor to pointer on hover */
}

.eye-icon:hover {
   color: var(--button-bg); /* Change icon color on hover for feedback */
}

/* Register Button */
.register-button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}

.register-button:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
}

/* Message Styling */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}
